<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A22_Exprss</title>
    <link rel="stylesheet" href="/app.css">
    
</head>
<body>
    <div class="container">
        <nav class='nav'>
            <a  href="/" class="home-page btn " id='回到首頁'>回到首頁</a>
            <ul class='nav-list'>
                <a href="/About" class="item btn" >About</a>
                <a href="/Portfolio" class="item btn">Portfolio</a>
                <a href="/Contact" class="item btn">Contact</a>
            </ul>
        </nav>
        <div class="content">
            {{{body}}}
        </div>
    </div>

</body>
</html>